<div class="top-page">
  命どぅ宝🐾
  <div class="top-sub">
    〜 Life is a treasure 〜
  </div>
</div>
<br>
<h4>命どぅ宝は動物の生体管理アプリです。<br></br>

動物保護の活動をされている方々、<br>
ペットを飼われている方々へ<br>
日々の動物の生体管理を簡易的にペーパーレスで<br>
家族間グループ間で記録・共有<br>
するためのアプリケーションです。
</h4>
