<h2><%= 'カルテ新規作成' %></h2>

<%= render 'form', animal_management: @animal_management %>
<div class="btm-buttons">
  <%= link_to '戻る', group_path(current_user.group_id), class: 'btn btn-light' %>
</div>