<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= 'グループ新規作成' %>
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <%= render 'form', group: @group %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>