<div class="mypage">
  <h4><%= current_user.name %>のマイページ</h4>
  <h4>所属グループ：<% if current_user.group %>
  <%= link_to current_user.group.name, group_path(current_user.group_id) %>
  <% else %>
    '所属していません'
  <% end %></h4>
</div>

<div class="dic">
  <%= link_to I18n.t('views.button.delete'), user_path(current_user.id), method: :delete, data: { confirm: '退会しますか？' }, class: 'btn btn-sm btn-danger' %></td>
  <%= link_to '戻る', groups_path, class: 'btn btn-light' %>
</div>