// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .animal-profile {
    text-align: center;
    margin-top: 3rem;
    border-bottom: solid 1px rgb(53, 53, 53) ;
    margin: 0 25%;
    margin-top: 2rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  .past-days {
    position: absolute;
    top: 0%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'キウイ丸', serif;
  }

  .karte {
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Hannari";
    text-align: center;
    font-family: 'キウイ丸', serif;
  }