/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar 
 *= require_tree .
 *= require_self
 */
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  .top {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'キウイ丸', serif;
  }

  .top-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Hannari";
    text-align: center;
    font-family: 'キウイ丸', serif;
  }

  .btm-buttons {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'キウイ丸', serif;
    font-size: 30px;
  }

  .field {
    font-family: 'キウイ丸', serif;
  }

  .actions {
    font-family: 'キウイ丸', serif;
  }

  h2 {
    text-align: center;
    margin-top: 3rem;
    border-bottom: solid 1px rgb(53, 53, 53) ;
    margin: 0 25%;
    margin-top: 2rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  h4 {
    text-align: center;
    margin-top: 3rem;
    margin: 0 25%;
    margin-top: 2rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  .table-class {
    /* テーブル全体に適用されるスタイル */
    margin-top: 3rem;
    margin-left: 32rem;
    text-align: center;
    border-collapse: collapse;
  }
  
  .link-class {
    /* リンクに適用されるスタイル */
    color: black;
  }
  