/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar 
 *= require_tree .
 *= require_self
 */

  .top-logo {
    width: 100%;
    height: auto;
    max-width: 280px;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .navbar-nav {
    font-family: 'キウイ丸', serif;
    margin-left: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: 'キウイ丸', serif;
  }
  
  .btm-buttons {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'キウイ丸', serif;
    font-size: 30px;
    margin: 1rem;
  }

  .field {
    left: 50%;
    text-align: center;
    margin-top: 2rem;
    font-family: 'キウイ丸', serif;
  }

  .actions {
    left: 50%;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'キウイ丸', serif;
    font-family: 'キウイ丸', serif;
  }

  .submit {
    left: 50%;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'キウイ丸', serif;
  }

  h2 {
    text-align: center;
    border-bottom: solid 1px rgb(53, 53, 53) ;
    margin: 0 25%;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  h4 {
    text-align: center;
    margin-top: 3rem;
    margin: 0 25%;
    margin-top: 2rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  .table-class {
    margin-top: 3rem;
    margin-left: 31rem;
    text-align: center;
    border-collapse: collapse;
    font-size: x-large;
    font-family: 'キウイ丸', serif;
  }

  .table-chat {
    margin-top: 3rem;
    margin-left: 22rem;
    text-align: center;
    border-collapse: collapse;
    font-size: medium;
    font-family: 'キウイ丸', serif;
  }

  .table-schedule {
    margin-top: 3rem;
    margin-left: 28rem;
    text-align: center;
    border-collapse: collapse;
    font-size: large;
    font-family: 'キウイ丸', serif;
  }
  
  .link-class {
    color: rgb(53, 53, 53);
  }
  
  .top-page {
    text-align: center;
    border-bottom: solid 1px rgb(53, 53, 53) ;
    margin: 0 25%;
    margin-top: 1rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  .top-sub {
    text-align: center;
    margin-top: 3rem;
    font-size: 20px;
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 1rem 0;
    font-family: 'キウイ丸', serif;
  }

  .login_form{
    margin: 2rem 20%;
    border: solid 1px #1d1b27;
    border-radius: 10px;
    padding: 3rem;
  }

  .login_form .actions{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  #error_explanation{
    text-align: center;
  }

  #error_explanation li{
    list-style: none;
  }

  .btn {
    background-color: #FFCCFF;
    color: white;
  }

  .simple-calendar {
    font-family: 'キウイ丸', serif;
  }