// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .team-member {
    text-align: right;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: "Hannari";
    text-align: center;
    font-family: 'キウイ丸', serif;
  }

  .bottom {
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Hannari";
    text-align: center;
    font-family: 'キウイ丸', serif;
  }

  .invite {
    position: absolute;
    font-size: 20px;
    top: 80%;
    left: 78%;
    transform: translate(-50%, -50%);
    font-family: 'キウイ丸', serif;
  }

  .group-list {
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'キウイ丸', serif;
  }